html body {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  direction: rtl;
  text-align: right;
}
html body .text-input-placeholder {
  height: 70px;
}
html body .text-input-placeholder::placeholder {
  font-size: 24px;
  font-weight: 500;
}

:root {
  --dark-blue: rgb(15, 39, 91);
  --light-blue: rgb(38, 162, 255);
  --dark-blue-shadow: rgba(15, 39, 91, .27);
  --hover-blue: rgb(67, 108, 195);
}

nav, .navbar-brand {
  /* padding: 0 !important; */
  direction: rtl;
}

nav {
  background-color: white !important;
}

.header-container {
  width: 100%;
  margin: 0 !important;
  background: #23499A;
  justify-content: space-around;
  -webkit-box-shadow: 0px 20px 35px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 35px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 35px -13px rgba(0, 0, 0, 0.75);
  z-index: 50;
  border-bottom: 3px solid var(--light-blue);
}
.header-container .header-logo {
  width: 274px;
  height: 160px;
}
.header-container .header-item .category-button {
  text-align: center;
  position: relative;
  height: 100%;
  color: white;
  padding: 12px 20px 6px 20px;
  transition: all 0.15s;
  border-radius: 6px;
  cursor: pointer;
}
.header-container .header-item .category-button:hover {
  background-color: var(--dark-blue);
  box-shadow: 5px 5px 12px 8px rgba(0, 0, 10, 0.3);
}
.header-container .header-item .category-button:hover .flyout-menu {
  opacity: 1;
}
.header-container .header-item .category-button i {
  font-size: 46px;
  padding: 0;
}
.header-container .header-item .category-button p {
  font-size: 24px;
  margin: 0;
}
.header-container .header-item .category-button .flyout-menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  opacity: 0;
  transition: all 0.15s;
  background-color: var(--dark-blue);
  box-shadow: 5px 5px 12px 8px rgba(0, 0, 10, 0.3);
  border-top: 3px solid var(--light-blue);
  max-height: 300px;
  margin-top: 6px;
  padding: 20px;
}
.header-container .header-item .category-button .flyout-menu .sub-item {
  line-height: 1.6;
  padding: 12px;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .header-container .header-item .flyout-menu {
    display: none;
  }
}
.header-container .link-group-a, .header-container .link-group-b {
  padding: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
}

.header-sm-container {
  background: #23499A;
  padding: 2%;
  -webkit-box-shadow: 0px 20px 35px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 35px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 35px -13px rgba(0, 0, 0, 0.75);
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  padding-left: 40px;
}

.nav-item + .nav-item {
  border-right: 1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  text-align: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.nav-item + .nav-item .nav-link {
  padding: 4px;
  width: 100%;
  flex-grow: 1;
}
.nav-item + .nav-item h6 {
  margin: 0;
  font-weight: 400;
}

/* search bar */
.search-grid {
  margin-right: 20%;
  position: relative;
  top: -26px;
}

.search-container {
  padding-top: 64px;
}

.search-input {
  direction: rtl;
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: #F2F4F6;
  box-shadow: inset -1px 0px 11px #ccc;
  background-image: url("../assets/svg-icons/search.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 5% center;
  border-radius: 50px;
  border: 1px solid #d6d6d6;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 70px;
}

.search-input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search-input:hover,
.search-input:focus {
  outline: 0;
}

/* responsive */
@media screen and (max-width: 990px) {
  .links {
    display: block;
    margin: 0;
    justify-content: unset;
  }

  .navbar-nav {
    direction: rtl;
    padding-inline-start: 0;
  }

  .nav-item {
    display: flex;
    justify-content: flex-start;
    border: none;
    margin: 2%;
  }
  .nav-item a, .nav-item h6 {
    text-align: right;
  }
  .nav-item + .nav-item {
    border: none;
  }

  .navbar-toggler {
    position: absolute;
    left: 20px;
    z-index: 10;
    top: 20px;
  }

  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .navbar-brand img {
    height: 92px !important;
  }

  .search-container {
    padding-top: 0 !important;
    height: initial;
  }

  .search-input {
    height: auto;
  }
}
.grid .card-box {
  box-shadow: 2px 2px 12px var(--dark-blue-shadow);
}
.grid .card-box .order-link {
  position: absolute;
  background-color: var(--dark-blue);
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  z-index: 20;
  font-size: 24px;
  color: white;
  opacity: 0;
  transition: all 0.15s;
}
.grid .card-box .order-link .arrow i {
  padding-right: 8px;
  font-size: 16px;
  line-height: 36px;
}
.grid .card-box .box {
  transition: all 0.15s;
  webkit-filter: blur(0px);
  /* Chrome, Safari, Opera */
  filter: blur(0px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid .card-box .box:hover {
  cursor: pointer;
}
.grid .card-box .box:hover img {
  webkit-filter: blur(4px);
  /* Chrome, Safari, Opera */
  filter: blur(4px);
}
.grid .card-box .box:hover .order-link {
  opacity: 1;
}
.grid .card-box .share-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: var(-dark-blue);
  font-size: 24px;
  cursor: pointer;
  transition: all 0.15s;
  z-index: 20;
}
.grid .card-box .share-btn:hover {
  color: var(--hover-blue);
  transform: scale(1.05);
}
.grid .card-box .card-footer {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}
.grid .card-box .card-footer-title {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
